/*Estilos da página index.html*/
.center {
    text-align: center;
 }
 
 .justify{
    text-align: justify;
 }
 
 .container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
 }  
 .end{
     justify-content: end;
 }
 
 #menu li {
    display: inline;
    padding: 15px;
    
 }
 
 #menu li a {
    text-decoration: none;
    color: #546de5;
    font-size: 20px;
 }
 
 #menu li a:hover {
    color: grey;
 }
 
 .p-30 {
    width: 100%;
    padding: 30px;
    align-items: center;
 }
 
 .br-50 {
    width: 100%;
    border-radius: 50%;
 }
 
 .wh-300{
    width: 100%;
    
 
 }
 
 .tm-social {
    width: 30%;
    
 }
 
 .mb-50{
    margin-bottom: 50px;
 }
 
 
 
 /*Estilos da página contato.html*/
 
 .ml-50 {
    margin-left: 50px;
 }